.login-container {
    text-align: center;
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h4 {
    margin-bottom: 20px;
    text-align: center;
}
  
.input-field {
    margin-bottom: 20px;
}
  
.btn {
    width: 200px;
    margin: 0 auto;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.welcome-message h4 {
  margin: 0 0 20px 0;
}

.welcome-message p,
.welcome-message a {
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.welcome-message a {
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.welcome-message a:hover {
  background-color: #4caf50; 
}

@media (max-width: 575px) {
  .login-container {
    max-width: 95%;
  }
}

@media (max-width: 400px) {
    .login-container {
        max-width: 100%;
    }
    
    .btn {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
  .login-container {
    max-width: 70%; 
  }
}

