.dropdown-content li a {
    font-style: normal !important;
}

.nav-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
  
.nav-wrapper ul {
    margin-right: 15px;
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
}
  
.nav-wrapper ul li {
    margin: 0 10px;
}

div.nav-wrapper.container {
    align-items: center;
}
