.sign-up-container {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sign-up-container h4 {
    margin-bottom: 20px;
    text-align: center;
}
  
.input-field {
    margin-bottom: 20px;
}
  
.btn {
    width: 300px;
    margin: 0 auto;
}

.password-input {
    position: relative;
  }
  
  .btn-toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  

  @media (max-width: 575px) {
    .sign-up-container {
      max-width: 95%;
    }
  }
  
  @media (max-width: 400px) {
      .sign-up-container {
          max-width: 100%;
      }
      
      .btn {
          width: 90%;
          margin: 0 auto;
      }
  }
  
  @media (min-width: 576px) and (max-width: 992px) {
    .sign-up-container {
      max-width: 70%; 
    }
  }
