.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 10;
}

.table-container {
    position: relative;
}

.user-form {
    font-family: Tahoma, sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 15;
    width: 500px;
    max-height: 50vh;
    overflow-y: auto; /* enable vertical scrolling */
    padding-bottom: 20px; 
    margin-bottom: 20px; 
}

.user-form input,
.user-form label,
.user-form button {
    display: block;
    margin-bottom: 10px;
}

.user-form label {
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-form button {
    width: 150px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-form button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 650px) {
    .user-form {
        width: 350px;
    }

    .user-form button {
        width: 100px;
    }
}
